#root {
  background-color: rgb(255, 255, 255);
  height: 100%;
}
.navBar {
  background-color: #213547;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.brand {
  color: white;
  padding: 0 15px;
  width: 142px;
  text-align: center;
}

.menuButton {
  margin: auto;
}
.cartButton {
  padding: 0 15px;
  width: 142px;
  display: flex;
  justify-content: center;
}

.cardContainer {
  justify-content: Center;
}
.cardFooter {
  justify-content: center;
}

.footerButtons {
  align-items: center;
}

.itemList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  height: 100%;
  min-height: 100vh;
}

.itemContainer {
  margin: 15px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.countLabel {
  display: flex;
  border: 2px solid grey;
  border-radius: 10%;
  width: 50px;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.welcomeContainer {
  padding: 50px 0 50px 0;
}
.welcome {
  padding: 150px 0 150px 0;
  height: 100vh;
  width: 100vw;
  margin-top: 150px;
  background-image: url(./assets/welcomebg.jpg);
  background-size: cover;
  border-radius: 1%;
  width: 75%;
  margin: auto;
  border: 1px solid;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.welcomeMessage {
  color: white;
  background-color: rgba(0, 0, 0, 0.253);
  border: 1px solid black;
  width: 50%;
  margin: 150px auto;
  border-radius: 25px;
  text-align: center;
}

.welcomeP {
  padding: 15px;
}

.prodCartContainer {
  width: 100%;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid black;
}
.cartBlock {
  width: 25%;
  text-align: center;
}

.cartItems {
  display: flex;
  padding: 15px;
}
