#root {
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin-bottom: 50px;
  background-image: url(./assets/loop.jpg);
  background-repeat: repeat;
  background-size: fill;
}
.navBar {
  background-color: #213547;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.footerBar {
  background-color: #213547;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #213547;
  margin-bottom: 0px;
}

.footerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 25px;
  color: white;
}

.footerIcon {
  width: 50px;
  height: 45px;
  padding: 5px;
  margin: 5px auto;
}

.brand {
  color: white;
  padding: 0 15px;
  width: 142px;
  text-align: center;
}

.menuButton {
  margin: auto;
}
.cartButton {
  padding: 0 15px;
  width: 142px;
  display: flex;
  justify-content: center;
}

.cardContainer {
  justify-content: Center;
}
.cardFooter {
  justify-content: center;
}

.footerButtons {
  align-items: center;
}

.itemList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 75px;
}

.itemContainer {
  display: flex;
  position: relative;
  top: 25px;
  height: fit-content;
  justify-content: center;
  border: 1px solid orange;
  border-radius: 5px;
  box-shadow: 5px 5px 15px;
  margin: 15px 15px;
}

.countLabel {
  display: flex;
  border: 2px solid grey;
  border-radius: 10%;
  width: 50px;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.welcomeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.welcome {
  width: 75%;
  background-image: url(./assets/welcomebg.jpg);
  background-size: cover;
  margin: 25px auto;
  height: 75%;
  border-radius: 25px;
  border: 1px solid orange;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.welcomeMessage {
  color: white;
  background-color: rgba(0, 0, 0, 0.253);
  border: 1px solid black;
  width: 50%;
  margin: 25px auto;
  border-radius: 25px;
  text-align: center;
}

.welcomeP {
  padding: 15px;
}
.loadingContainer {
  height: 100vh;
}
.prodCartContainer {
  width: 100%;
  height: 100vh;
}

.cartHeader {
  flex-direction: row wrap;
  justify-content: space-between;
  margin: 25px;
  padding: 25px;
  background-color: rgba(128, 128, 128, 0.7);
  color: black;
  border-radius: 25px;
  box-shadow: 5px 5px 15px black;
}

.cartBlocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  font-weight: bold;
}
.cartBlock {
  text-align: center;
  width: 22%;
}

.cartItems {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 15px;
  border: 1px solid grey;
  padding: 15px;
}
.cartFooter {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  color: white;
  align-items: center;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 5px 5px 15px black;
}
.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid orange;
  background-color: white;
  width: 50%;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px;
  margin-bottom: 75px;
}
